section
  display: flex
  flex-direction: column
  align-items: center

.btn-next
  background: #000
  color: #fcee52
  font-size: 1.2em
  font-family: 'Lato', sans-serif
  text-transform: uppercase
  margin: 3% 1%
  padding: 1% 3%
  border: #fcee52 2px solid
  border-radius: 10px
