@import "~src/assets/styles/variables"
@import '~src/assets/styles/mixins'

.card
  background: $accent-color
  width: 30vw
  min-width: 400px
  max-height: 470px
  height: 50vh
  border: $border
  border-radius: $border-radius
  margin: 1% 0.5%

  .card__title
    text-align: center
    color: $text-color
    padding: 3% 1%
    border-bottom: $border

  .card__content-list
    color: $text-color
    height: 50%
    padding: 5% 10%
    @include d-flex-column
    justify-content: space-between

  .card__footer
    color: $text-color
    text-align: center
    font-size: 1.8rem
    font-weight: bold
    padding: 7% 5%

  .text-highlight
    color: $primary-color

  @media (max-width: $small-screens)
    min-width: 300px
    max-height: 400px

    .card__footer
        font-size: 1.4rem
        padding: 3%
