      <div class="card" @cardAnimation *ngIf="content">
        <h1 class="card__title">
          {{content.name}}
        </h1>
        <ul class="card__content-list">
          <li>Population: <span class="text-highlight">{{content.population}}</span></li>
          <li>Climate: <span class="text-highlight">{{content.climate}}</span></li>
          <li>Terrain: <span class="text-highlight">{{content.terrain}}</span></li>
        </ul>
        <p class="card__footer">Featured in <span class="text-highlight">{{content.films.length}}</span> Films</p>
      </div>
