.card
  background: #000
  width: 30vw
  min-width: 400px
  max-height: 470px
  height: 50vh
  border: 2px solid #fcee52
  border-radius: 8px
  margin: 1% 0.5%

  .card__title
    text-align: center
    color: #fff
    padding: 3% 1%
    border-bottom: 2px solid #fcee52

  .card__content-list
    color: #fff
    height: 80%
    padding: 3% 10%
    display: flex
    flex-direction: column
    justify-content: space-between

@media (max-width: 768px)
  .card
    min-width: 300px
    max-height: 420px
